<div id="<%= dom_id article %>">
    <tbody>
      <tr>
        <td><%= article.title%></td>
        <td><%= article.question_body%></td>
        <td><%= article.question_answer %></td>
        <td><%= article.created_at.strftime("%Y-%m-%d") %></td>
        <td><%= article.updated_at.strftime("%Y-%m-%d") %></td>
        <% if defined?(@articles)%>
        <td>
        <%= button_to "詳細", article, method: :get, class: "btn btn-primary", type: "button"%>
        </td>
        <% end%>
      </tr>
      <!-- Add more rows for other articles -->
    </tbody>
</div>