<div class="container pt-3">
  <div class="row">
    <div class="col-lg-10 offset-lg-1">
      <!-- 検索フォーム -->
       <%= render 'search_form', q: @q, url: bookmarks_articles_path %>
    </div>
  </div>
  <h2>お気に入り質問一覧</h2>
  <!-- 掲示板一覧 -->
        <% if @bookmark_articles.present? %>
        <table class="table table-striped table-bordered">
        <thead class="thead-dark">
        <tr>
          <th>質問タイトル</th>
          <th>質問内容</th>
          <th>質問回答</th>
          <th>質問作成日</th>
          <th>質問更新日</th>
        </tr>
      </thead>
          <tbody>
            <% @bookmark_articles.each do |article| %>
                <tr>
                <td><%= article.title %></td>
                <td><%= article.question_body %></td>
                <td><%= article.question_answer %></td>
                <td><%= article.created_at.strftime("%Y-%m-%d") %></td>
                <td><%= article.updated_at.strftime("%Y-%m-%d") %></td>
                <td>
                 <%= button_to "詳細", article, method: :get, class: "btn btn-primary", type: "button"%>
                </td>
                </tr>
            <% end %>
          </tbody>
        </table>
        <% else %>
          <p><%= t('.no_result') %></p>
        <% end %>
  </div>
  <%= paginate @bookmark_articles, theme: 'bootstrap-5' %>